<div class="w-full max-w-[500px] mx-auto flex flex-col justify-center">
  <div class="flex flex-col">
    <% if @recipes.empty? %>
      <p class="text-center">No recipes found.</p>
    <% else %>
      <% @recipes.each do |recipe| %>
        <div class="flex border border-black mb-2 gap-5 p-3">
          <div>
            <%= link_to recipe_path(recipe), class: "no-underline" do %>
              <h3 class="m-0"><%= recipe.name %></h3>
            <% end %>
            <%=
              button_to 'Remove',
                        recipe,
                        method: :delete,
                        data: {
                          turbo_confirm: 'Are you sure?',
                        }, class: "text-blue-500"
            %>
          </div>
          <div>
            <p class="m-0">Total food items: 4</p>
            <p class="m-0">Total price: $203</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
