<div class="w-full max-w-[500px] mx-auto flex flex-col justify-center">
  <h2 class="text-center mt-0">Shopping List</h2>

   <div class="flex justify-between">
    <p>
      Amount of Food items to buy: 3
    </p>

    <p>
      Total value of food needed: $819
    </p>
  </div>


  <table class="table-auto w-full border border-black">
    <thead class="font-medium dark:bg-neutral-300">
      <tr>
        <th class="px-4 py-2 text-center">Food</th>
        <th class="px-4 py-2 text-center">Quantity</th>
        <th class="px-4 py-2 text-center">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="dark:bg-neutral-100">
        <td class="px-4 py-2 text-center">Item 1</td>
        <td class="px-4 py-2 text-center">2</td>
        <td class="px-4 py-2 text-center">$10</td>
      </tr>
      <tr>
        <td class="px-4 py-2 text-center">Item 2</td>
        <td class="px-4 py-2 text-center">2</td>
        <td class="px-4 py-2 text-center">$10</td>
      </tr>
      <tr class="dark:bg-neutral-100">
        <td class="px-4 py-2 text-center">Item 3</td>
        <td class="px-4 py-2 text-center">2</td>
        <td class="px-4 py-2 text-center">$10</td>
      </tr>
      <tr>
        <td class="px-4 py-2 text-center">Item 4</td>
        <td class="px-4 py-2 text-center">2</td>
        <td class="px-4 py-2 text-center">$10</td>
      </tr>
    </tbody>
  </table>
</div>
